--editable packages/server
git+https://github.com/jokester/MiniMax-NOT-MCP.git@export-api-response
# --config-settings editable-mode=strict --editable git+https://github.com/jokester/MiniMax-NOT-MCP.git@export-api-response
jupyter==1.1.1
ipykernel==6.29.5
litellm==1.73.6
langfuse==3.0.7
python-dotenv==1.1.1
fastapi[standard]==0.115.14
google-genai==1.23.0
mutagen==1.47.0
itsdangerous==2.2.0
ruff==0.12.1
pur==7.3.3
