--editable packages/server
git+https://github.com/jokester/MiniMax-NOT-MCP.git@export-api-response
# --config-settings editable-mode=strict --editable git+https://github.com/jokester/MiniMax-NOT-MCP.git@export-api-response
jupyter
ipykernel
litellm==1.73.0
langfuse==3.0.3
ruff
pur
python-dotenv==1.1.0
fastapi[standard]==0.115.13
google-genai==1.21.1
mutagen==1.47.0
